:root {
  /*typography*/
  --title-font: 'Open Sans', sans-serif;
  --body-font: 'Open Sans', sans-serif;

  /*colors*/
  --white-color:#ffffff;
  --gray-color:#f8f8f8;
  --primary-color: #ff6c00;
  --dark-color:#252525;


  /*sizes*/
  --base: 0.25rem;
  --body-width: 70rem;
  --small-size:calc(var(--base) * 2);
  --medium-size:calc(var(--base) * 4);
  --big-size:calc(var(--base) * 8);
  --large-size:calc(var(--base) * 12);
}
